.title{
    text-align: center ;
    height: 100px;
}
.title p{
    font-weight: 500;
}
input{
    width: 300px;
    margin-left: 43px;
    margin-top: 10px;
    height: 35px;
    border: none;
    border-bottom: 2px solid black;
}
.Box{
    text-align: center;
    color: rgb(0, 17, 255) ;
}
.css-e53awj-MuiStack-root{
    margin-top: 10px;
    margin-left: 117px;
}
